# Node
node_modules/
dist/
build/
.vite/

# Env
.env
.env.local
.env.*.local
!.env.example

# PocketBase
pb_data/
pb_public/

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
*.tsbuildinfo
coverage/
